NODE_ENV=development
PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=wagering
DATABASE_PASSWORD=wagering
DATABASE_NAME=wagering

AWS_REGION=us-east-1
AWS_ENDPOINT=http://localhost:4566
SQS_WAGER_TRANSCTIONS_QUEUE_URL=http://localhost:4566/000000000000/wager-transactions.fifo
SQS_WAGER_TRANSCTIONS_DLQ_URL=http://localhost:4566/000000000000/wager-transactions-dlq.fifo